{% extends 'base.html' %}

{% block titulo %} lista de libros {% endblock %}

{% block contenido %}

<div class="card">
    <div class="card-header">
        <a name="" id="" class="btn btn-primary" href=" {% url 'crear' %} " role="button">Agregar Nuevo Libro!📗</a>
        " ||Listado de Libros encantados📚||"
    </div>
    <div class="card-body">
        <h4 class="card-title">Title</h4>

        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Título</th>
                    <th>Imagen</th>
                    <th>Descripción</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Aprende Django a las 5 am Con Mígersitox👓</td>
                    <td>imagen.jpg</td>
                    <td>libro perfecto para salvar tu ramo!</td>
                    <td>
                        |
                        <a name="" id="" class="btn btn-warning"  href=" {% url 'editar' %} " role="button">🧐Editar📙</a>
                        |
                        <a name="" id="" class="btn btn-danger" href=" " role="button">😢Borrar📕</a> 
                        |
                     </td>
                </tr>
            </tbody>
        </table>
        


    </div>
</div>

{% endblock %}